<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528122879461-n9ic8c1go8ii5nuq9nig56ll3jpot8hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528122879461-n9ic8c1go8ii5nuq9nig56ll3jpot8hf</string>
	<key>API_KEY</key>
	<string>AIzaSyAowVFsCxOokTu0C9VXrKRVRw9mhZfklOo</string>
	<key>GCM_SENDER_ID</key>
	<string>528122879461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanlim.cardinalkitexample</string>
	<key>PROJECT_ID</key>
	<string>cardinalkit-project-eb672</string>
	<key>STORAGE_BUCKET</key>
	<string>cardinalkit-project-eb672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528122879461:ios:c6da9ef1e848214101630c</string>
</dict>
</plist>